:root {
    --one: #150530;
    --two: #440457;
    --three: #6b0a4b;
    --four: #a70a3e;
    --five: #ff520e;
    --six: #ff8f0f;
    --seven: #ffd256;
    --eight: #ff1a85;
}

.aldrich-regular {
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
}
button {
    background-image: linear-gradient(138deg, var(--eight), var(--five), var(--seven));
    color: var(--three);
    font-weight: 600;
    font-style: "Aldrich", sans-serif;
    border-radius: 7px;
    border: 1px solid var(--one);
    cursor: pointer;
    margin: auto;
    box-shadow: 5px 5px var(--one);
    
}
button::hover {
        background-image: linear-gradient(138deg, var(--five), var(--six), var(--seven));
}
button:active {
    background-image: none;
    background-color: var(--seven);
    box-shadow: none;
}

a {
    color: var(--eight);
    text-decoration: underline;
}
a:hover {
    color: var(--six);
}
a:active {
    color: var(--seven);
}

body {
    background-color: rgb(10, 10, 10);
    color: var(--six);
    font-family: "Aldrich", sans-serif
}

/*MOBILE FIRST*/
@media screen and (max-width: 1024px) {
    p {
        font-size: 12px;
    }
    button {
        width: 130px;
        height: 40px;
    }

    .base {
        margin-top: 5px;
        padding: 0px;
        
    }
    .card {
        margin: auto;
        background-image: linear-gradient(rgb(21, 5, 48), rgb(68, 4, 87), rgb(107, 10, 75));
        width: 95%;
        height: 500px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px orange;
        
    }
    /*CARD TOP*/
    .card-top {
        height: 20%;
    }

    .card-hdr {
        background-image: linear-gradient(90deg, rgb(167, 10, 62), transparent);
        width: 60%;
        display: inline-block;
        align-items: center;
        overflow: hidden;
        height: 35px;
        margin-bottom: 35px;
        margin-left: -5px;
        color: var(--seven);

    }

    .card-hdr-list {
        display: flex;
        flex-direction: column;
        animation: scrollLeftToRight 5s linear infinite;
    }

    .card-hdr-item {
        height: 30px;
        white-space: nowrap;
        margin-top: -18px;
    }

    @keyframes scrollLeftToRight {
    0% {
        transform: translateX(100%); /* Starts halfway tucked to the left */
    }
    100% {
        transform: translateX(-110%); /* Moves smoothly to the right edge */
    }
    }

    .card-pfp {
        width: 32%;
        margin: 7px 7px;
        height: 88%;
        display: inline-block;
        overflow: hidden;
        
    }
    .card-pfp img {
        width: 110%;
        margin: -15px -5px;
    }

    /*CARD CENTER*/
    .card-center {
        height: 60%;
    }    
    .card-divider {
        width: 100%;
        align-items: center;
        margin-bottom: 5px;
    }
    .card-divider img {
        width: 100%;
    }

    .card-abtme-hdr {
        background-image: linear-gradient(var(--four), transparent);
        display: inline-block;
        width: 95%;
        height: 30px;
        margin-top: 2px;
        margin-left: 5px;
        
    }
    .card-abtme-hdr h3 {
        margin-top: 3px;
        text-decoration: underline;
        color: var(--seven);
    }
    .card-abtme-ctnt-frame {
        border: solid 1px var(--eight);
        width: 95%;
        margin: auto;
        margin-top: 2px;
    }
    .card-abtme-ctnt {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: -5px;
        margin-left: 5px;
        height: 33px;
        color: var(--six);
    }
    .card-abtme-ctnt-item {
        height: 20px;
        margin-right: 3px;
    }
    .card-abtme-ctnt-item h5 {
    display: inline;
    }
    .card-abtme-ctnt-item p {
        display: inline;
    }

    .card-intrsts {
        display: inline-block;
        width: 48%;
        height: 102px;
        margin-top: 10px;
    
    }
    .card-intrsts h4 {
        display: inline;
        text-decoration: underline;
        margin-left: 15px;
    }
    .card-intrsts p {
        display: inline;
    }
    .card-intrsts-hdr {
        display: inline-block;
        color: var(--four);
    }
    .card-intrsts-list {
        color: var(--seven);
        width: 85%;
        display: inline-block;
        margin-left: 10px;
    }

    .card-marquee {
        height: 35px;
        margin-top: 5px;
        margin-bottom: 5px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .card-marquee-inner {
        background-color: #150530;
        height: 100%;
        width: 900px;
    }
    .card-marquee-item {
        width: 70px;
        height: 100%;
        display: inline-block;
    }
    .card-marquee-item img {
        width: 100%;
        height: 100%;
    }

    /*CARD BOTTOM*/
    .card-bot {
        height: 18%;
    }
    .button-links {
        margin: auto;
        width: 95%;
        height: 42px;
        
    }
    .button-links button {
        margin-left: 4px;
    }

    .card-slinks {
        height: 20px;
        margin-top: 10px;
    }

    .card-slinks-item {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-left: 27px;
        
    }
    .card-slinks-item img {
        width: 100%;
        transition: transform 0.3s ease;

    }
    .card-slinks-item img:hover {
        transform: scale(0.9);
    }
    .card-slinks-item img:active {
        transform: scale(0.6);
    }

    .card-alink {
        text-align: center;
        margin-top: -8px;
        color: var(--five);
    }
    .card-alink-item {
        display: inline-block;
    }
}